.task-container {
    padding: 5px;
    margin: 20px 0;
    border: 3px solid #000000;
    border-radius: 10px;
  }
  
  .task-date {
    color: #999;
    font-size: 0.8rem;
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #d32f2f; /* Darker red */
  }

  .checkbox-container {
    display: flex; /* Arrange label and checkbox in a row */
    align-items: center; /* Vertically align the checkbox and label */
    gap: 8px; /* Space between the label and checkbox */
  }

  .task-title {
    margin: 10; /* Reset default margin for h1 */
    font-size: 2rem; /* Optional: Adjust font size if needed */
  }